<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles/aluno.css' %}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h1>Avaliações</h1>
        <form action="">
            <label for="materia">escolha a disciplina:</label>
            <select name="materia" id="input_materia">
                <option value="none">Toque para opções</option>
            </select>
            <label for="conhecimento">conhecimento na matéria:</label>
            <div class="slider-container">
                | | | | | |
                <span> </span>
                <div class="ends"></div>
                <input type="range" name="conhecimento" id="input_conhecimento" min="0" max="10" value="5" step="1" class="slider"> 
            </div>
            <label for="sentimento">escolha a categoria de sentimento:</label>
            <h2>sentimentos</h2>
            <input type="hidden" name="sentimento" id="input_sentimento">
            <div class="sentimentBox">
                <div class="box1">
                    <h3 class="sentimentKind">Indisposto<br>Bom</h3>
                    <div class="box1">
                        <p class="sentiment">Sentimento 1</p>
                    </div>
                    <div class="box2">
                        <p class="sentiment">Sentimento 2</p>
                    </div>
                    <div class="box3">
                        <p class="sentiment">Sentimento 3</p>
                    </div>
                    <div class="box4">
                        <p class="sentiment">Sentimento 4</p>
                    </div>
                </div>
                <div class="box2">
                    <h3 class="sentimentKind">Disposto<br>Bom</h3>
                    <div class="box1">
                        <p class="sentiment">Sentimento 1</p>
                    </div>
                    <div class="box2">
                        <p class="sentiment">Sentimento 2</p>
                    </div>
                    <div class="box3">
                        <p class="sentiment">Sentimento 3</p>
                    </div>
                    <div class="box4">
                        <p class="sentiment">Sentimento 4</p>
                    </div>
                </div>
                <div class="box3">
                    <h3 class="sentimentKind">Indisposto<br>Ruim</h3>
                    <div class="box1">
                        <p class="sentiment">Sentimento 1</p>
                    </div>
                    <div class="box2">
                        <p class="sentiment">Sentimento 2</p>
                    </div>
                    <div class="box3">
                        <p class="sentiment">Sentimento 3</p>
                    </div>
                    <div class="box4">
                        <p class="sentiment">Sentimento 4</p>
                    </div>
                </div>
                <div class="box4">
                    <h3 class="sentimentKind">Disposto<br>Ruim</h3>
                    <div class="box1">
                        <p class="sentiment">Sentimento 1</p>
                    </div>
                    <div class="box2">
                        <p class="sentiment">Sentimento 2</p>
                    </div>
                    <div class="box3">
                        <p class="sentiment">Sentimento 3</p>
                    </div>
                    <div class="box4">
                        <p class="sentiment">Sentimento 4</p>
                    </div>
                </div>
            </div>
            <label for="comentario">por que você se sente dessa forma sobre a matéria?</label>
            <textarea name="comentario" id="input_comentario" cols="40" rows="8"></textarea>
            <button type="submit">enviar</button>
        </form>
    </div>
    <div class="footer">
        <button class="home">🏠</button>
        <button class="mySentiments">❤</button>
        <button class="menu">📝</button>
    </div>
    <script>
        document.getElementsByClassName("sentimentBox")[0].childNodes.forEach(element => {
            element.addEventListener("click", function(){
                document.getElementsByClassName("sentimentBox")[0].classList.add("selected");
                this.classList.add("selected");
            })
        });
    </script>
</body>
</html>